$rei: #e5e5e5;
$ichi: #fdfdfe;
$ni: #4e6daf;
$san: #a8b2b8;
$yon: #315694;
$go: #1b3552;
$roku: #738fa4;
$nana: #f64d27;
$hachi: #f16c14;
$kyuu: #2d649c;
$kuro: #081121;
$bg: #e5e5e5;

$color-white: #fff;
$color-black:#000;
$color-black-light:#081121;


$color-orange-1:#F56C11;
